.main {
    width: 25%;
    margin: 10% auto 0 auto;
    padding-bottom: 1%;
    background-color: cornflowerblue;
    text-align: center;
}
h2 {
    padding-top: 8%;
}
input {
    margin-top: 5%;
}
.btn {
    margin-top: 4%;
}
.role {
    margin-top: 5%;
}